<div class="title-sidebar">
  <input type="text"
    #title
    placeholder="Enter name"
    [value]="config?.name"
    [(ngModel)]="config.name"
    (change)="builderFunctionsService.setInputValue(config, 'name', title.value)">
</div>

<div class="content-sidebar-start-step">
  <div class="switchs">
    <input type="checkbox" id="switch1"
      class="switchs__input"
      [checked]="config?.start_step"
      [disabled]="config?.start_step"
      (change)="builderFunctionsService.setStartingStep(config)">
    <label for="switch1" class="switchs__label">Start</label>
  </div>
</div>

<div class="sidebar-all-items-content">

  <div [dragula]="'HANDLES'" [(dragulaModel)]="config.widget_content">
    <div *ngFor="let item of config?.widget_content">
      <div *ngIf="item?.type === 'text'">
        <app-text-item [item]="item" [opened]="config?.opened">
        </app-text-item>
      </div>
      <div *ngIf="item?.type === 'image'">
        <app-image-item [item]="item" [opened]="config?.opened">
        </app-image-item>
      </div>
      <div *ngIf="item?.type === 'card'">
        <app-card-item [item]="item" [opened]="config?.opened">
        </app-card-item>
      </div>
    </div>
  </div>

  <div class="widget-content-not-found" *ngIf="config?.widget_content.length === 0">
    <span>Use the buttons below to add text and pictures.</span>
  </div>

  <div class="created-child-items-container">
    <div class="child-items-row">
      <div class="child-items"
        (click)="builderFunctionsService.addItemFromSidebar('text', config['widget_content'])">
        <i class="fas fa-align-left"></i>
        <span>+ Text</span>
      </div>
      <div class="child-items"
        (click)="builderFunctionsService.addItemFromSidebar('image', config['widget_content'])">
        <i class="far fa-image"></i>
        <span>+ Image</span>
      </div>
      <div class="child-items"
        (click)="builderFunctionsService.addItemFromSidebar('card', config['widget_content'])">
        <i class="fas fa-stop"></i>
        <span>+ Card</span>
      </div>
    </div>
  </div>

  <div class="continue-next-step margin-bottom--32"
    *ngIf="!config?.next_step || config?.next_step">
    <app-buttons-item
      [type]="'main'"
      [config]="config">
    </app-buttons-item>
  </div>

</div>