<div class="list-main-items"
  (clickOutside)="close()">

  <button class="main-items-button"
    (click)="toggle()"
    [ngClass]="{'active': openListMainItemsCheck}">
    <i class="fas fa-plus"></i>
  </button>

  <ul *ngIf="openListMainItemsCheck"
    class="list-items">
    <li (click)="test()">test</li>
    <li (click)="changeThemeColor('light', 'dark')">light</li>
    <li (click)="changeThemeColor('dark', 'light')">dark</li>
    <li *ngFor="let item of listMainItems"
      [ngClass]="{
        'grey': item?.type === 'sendMessage',
        'violet': item?.type === 'randomizer'
      }"
      (click)="createMainItemComponent(item?.type, item?.name)">
      <img [src]="item?.icon" alt="{{ item?.name }}" draggable="false">
      {{ item?.name }}
    </li>
  </ul>
</div>
