$sendMessage: #C5C7C4;
$randomizer: #80AB35;

$startStep: #3DA43D;

$randomizerA: #5E418F;
$randomizerB: #2C8BC2;
$randomizerC: #BA81B6;
$randomizerD: #F19230;
$randomizerE: #2C8BC2;
$randomizerF: #3DA43D;

$grey: #C5C7C4;
$yellow: #F19230;
$green: #2C8BC2;
$blue: #BA81B6;
$dark-blue: #2c6d9f;
$violet: #80AB35;
$red: #C91E22;