<div class="child-items-container"
  data-drag="true"
  *ngIf="config?.widgetContent[0]['randomData'].length > 0">

  <div class="random-items"
    *ngFor="let item of config?.widgetContent[0]['randomData']"
    data-drag="true"
    [ngClass]="{
      'blue': item?.randomLeter === 'A',
      'turquoise': item?.randomLeter === 'B',
      'violet': item?.randomLeter === 'C',
      'orange': item?.randomLeter === 'D',
      'navy-blue': item?.randomLeter === 'E',
      'green': item?.randomLeter === 'F'
    }">

    <span data-drag="true">
      {{ item?.randomLeter }}
    </span>

    <span data-drag="true">
      {{ item?.value }}%
    </span>

    <i class="far fa-circle"
      [id]="item?.uuid"
      (click)="builderService.createMouseLink(item)"
      [ngClass]="{'full': item?.arrow?.to?.id}"
      data-drag="false">
    </i>
  </div>
</div>

<div class="widget-content-not-found"
  *ngIf="config?.widgetContent[0]['randomData'].length === 0"
  data-drag="true">
  <i class="fas fa-random" data-drag="true"></i>
  <span data-drag="true">
    Click here to edit A/B
  </span>
  <span data-drag="true">
    Split in the sidebar
  </span>
</div>
